# Q1. What is a database? Differentiate between SQL and NoSQL databases.

# A1

A database is a collection of organized data that is stored and managed in a computer system. It is designed to allow for efficient data retrieval, storage, and manipulation. Databases are used in many applications, such as websites, business systems, and scientific research.

SQL databases and NoSQL databases are two types of databases that differ in their design and approach to storing and retrieving 

data. Here are the main differences between the two:

1. Data model: SQL databases are based on the relational data model, where data is stored in tables with predefined columns and rows. NoSQL databases, on the other hand, use non-relational data models, such as document-based, key-value, or graph-based models.

2. Scalability: NoSQL databases are designed to be highly scalable and can handle large volumes of data and high traffic loads. SQL databases are less scalable and may struggle to handle large amounts of data or high traffic.

3. Flexibility: NoSQL databases are more flexible than SQL databases because they allow for dynamic changes in the data structure without the need for a predefined schema. SQL databases require a predefined schema and may not be as flexible when it comes to data structure changes.

4. Query language: SQL databases use SQL (Structured Query Language) to query and manipulate data, while NoSQL databases have their own query languages that are specific to the data model being used.

5. Transactions: SQL databases are designed to handle transactions, which ensure that changes to the database are made in an all-or-nothing fashion. NoSQL databases do not always support transactions and may have different consistency models that may not guarantee the same level of data consistency.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

# A2. 
DDL (Data Definition Language) is a subset of SQL that is used to define and modify the structure of database objects such as tables, indexes, and constraints. It includes statements such as CREATE, DROP, ALTER, and TRUNCATE.

### CREATE: The CREATE statement is used to create a new object in the database, such as a table, index, or constraint. For example, to create a new table called "employees" with columns for employee ID, name, and salary.

CREATE TABLE employees (
  
  employee_id INT PRIMARY KEY,
  
  name VARCHAR(50),
  
  salary DECIMAL(10,2)

);

### DROP: The DROP statement is used to remove an object from the database. For example, to remove the "employees" table that was created earlier.

DROP TABLE employees;

### ALTER: The ALTER statement is used to modify the structure of an existing object in the database, such as a table, index, or constraint. For example, to add a new column called "department" to the "employees" table.

ALTER TABLE employees ADD COLUMN department VARCHAR(50);

TRUNCATE: The TRUNCATE statement is used to remove all data from a table, but the table structure and any associated objects remain intact. For example, to remove all data from the "employees" table,

TRUNCATE TABLE employees;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A3. DML (Data Manipulation Language) is a subset of SQL that is used to manipulate the data within the database. It includes statements such as INSERT, UPDATE, and DELETE.

INSERT: The INSERT statement is used to insert new rows of data into a table. For example, to insert a new employee with an ID of 123, a name of "John Doe", and a salary of $50,000 into the "employees" table created in the previous example,

INSERT INTO employees (employee_id, name, salary) VALUES (123, 'John Doe', 50000);

UPDATE: The UPDATE statement is used to modify existing rows of data in a table. For example, to update the salary of the employee with an ID of 123 to $55,000,

UPDATE employees SET salary = 55000 WHERE employee_id = 123;

DELETE: The DELETE statement is used to delete rows of data from a table. For example, to delete the employee with an ID of 123 from the "employees" table,

DELETE FROM employees WHERE employee_id = 123;

# Q4. What is DQL? Explain SELECT with an example

A4. DQL (Data Query Language) is a subset of SQL that is used to retrieve data from the database. The most commonly used DQL statement is SELECT, which is used to retrieve data from one or more tables in the database.

SELECT: The SELECT statement is used to retrieve data from one or more tables in the database. For example, to retrieve all data from the "employees" table created in the previous examples,

SELECT * FROM employees;

This statement will retrieve all columns from the "employees" table. To retrieve specific columns, the column names can be listed after the SELECT keyword, separated by commas. For example, to retrieve only the employee ID and name columns from the "employees" table,

SELECT employee_id, name FROM employees;

The SELECT statement can also be used to filter the data retrieved from the database using a WHERE clause. For example, to retrieve only employees with a salary greater than $50,000,

SELECT * FROM employees WHERE salary > 50000;

In addition, the SELECT statement can be used to sort the data retrieved from the database using an ORDER BY clause. For example, to retrieve all employees in the "employees" table, sorted by their salary in descending order,

SELECT * FROM employees ORDER BY salary DESC;

# Q5. Explain Primary Key and Foreign Key.

A5. Primary key and foreign key are two important concepts in database design that are used to establish relationships between tables.

Primary Key: A primary key is a unique identifier for each row in a table. It is used to ensure that each row can be uniquely identified and to enforce data integrity. A primary key can be made up of one or more columns in a table, and it cannot contain null values. A primary key is used as a reference point in other tables to establish relationships between tables. For example, in an "employees" table, the employee ID column could be used as the primary key to ensure that each employee is uniquely identified.

Foreign Key: A foreign key is a column or a set of columns in one table that refers to the primary key of another table. It is used to establish a relationship between two tables. The foreign key ensures that the data in the referencing table (child table) matches the data in the referenced table (parent table). For example, in a "departments" table, a foreign key could be used to reference the primary key of the "employees" table, which would ensure that each department is associated with the correct employees.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

# Connect to the MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="databasename"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM employees")

# Fetch all rows of the result
result = mycursor.fetchall()

# Print the result
for row in result:
  print(row)

Next, we create a cursor object using the cursor() method of the database connection object. The cursor object is used to execute SQL queries and fetch the results.

We then execute a SQL query using the execute() method of the cursor object. In this example, we execute a SELECT statement that retrieves all rows from the "employees" table.

After executing the query, we use the fetchall() method to retrieve all rows of the result. We then iterate over the result set and print each row using a for loop.

# Q7. Give the order of execution of SQL clauses in an SQL query.

    FROM: Specifies the table or tables to be queried.
    JOIN: Combines rows from two or more tables based on a related column between them.
    WHERE: Filters the rows returned by the query based on a specified condition.
    GROUP BY: Groups the result set by one or more columns.
    HAVING: Filters the groups returned by the GROUP BY clause based on a specified condition.
    SELECT: Specifies the columns to be retrieved from the tables in the FROM clause.
    DISTINCT: Removes duplicates from the result set.
    ORDER BY: Sorts the result set by one or more columns in ascending or descending order.
    LIMIT/OFFSET: Limits the number of rows returned by the query.